:root {
    --color-green: #AAE9A0;
    --color-blue: #99DAFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-light-grey: #201F1F;
    --color-light-black: #2E2D2D;
    --color-black-opaque: rgba(0, 0, 0, 0.05);
    --color-black-opaque1: rgba(0, 0, 0, 0.1);
  }